html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Russo One', sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li:last-child {
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 390px;

  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ================================= animation ================================ */

@keyframes ripple1 {
  0% {
    box-shadow: none;
  }

  40% {
    box-shadow: 0 0 0 0 rgba(202, 255, 51, 0.4),
      0 0 0 1em rgba(202, 255, 51, 0.3), 0 0 0 3em rgba(202, 255, 51, 0.1),
      0 0 0 5em rgba(202, 255, 51, 0.05);
  }

  100% {
    box-shadow: 0 0 0 1em rgba(202, 255, 51, 0.3),
      0 0 0 3em rgba(202, 255, 51, 0.1), 0 0 0 5em rgba(202, 255, 51, 0.05),
      0 0 0 8em rgba(202, 255, 51, 0.02);
  }
}

@keyframes openMenu {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  60% {
    transform: translateY(10px);
    opacity: 1;
  }

  80% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* ================================= header ================================ */

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #262626;
  border-radius: 100px;

  padding: 0px 14px 0px 14px;

  background-color: #1c1c1c;
}

.logo-link {
  display: flex;
  align-items: center;

  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 20px;
  line-height: 1.5;
  color: #fcfcfd;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.header-nav {
  display: none;
}

.contact-btn {
  display: none;
}

.mob-menu-btn {
  border-radius: 82px;
  padding: 6px 14px;
  width: 56px;
  height: 40px;

  background-color: #caff33;
}

.mob-menu-svg {
  width: 21px;
  height: 14px;
}

/* ================================= hero ================================ */

.hero-cont {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 28px;
  line-height: 1.5;

  text-align: center;

  margin-bottom: 8px;
}

.hero-title-span {
  color: #caff33;
}

.hero-par {
  font-size: 14px;
  line-height: 1.5;

  text-align: center;

  color: #e4e4e7;

  margin-bottom: 30px;
}

.hero-btn {
  border-radius: 82px;
  padding: 14px 24px;
  width: 145px;
  height: 49px;

  font-family: 'Russo One', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #1c1c1c;

  margin: 0 auto 25px;

  background-color: #caff33;
}

.hero-picture-cont {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ================================= services ================================ */

.serv-title {
  font-size: 28px;
  line-height: 1.5;

  text-align: center;
}

.serv-title-span {
  color: #caff33;
}

.serv-par {
  font-size: 14px;
  line-height: 1.5;
  color: #b3b3b3;

  text-align: center;

  margin-bottom: 40px;
}

.serv-item {
  margin-bottom: 20px;
}

.serv-circle {
  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  margin: 0 auto 20px;
  padding: 14px;
  width: 72px;
  height: 72px;

  background-image: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.2),
    rgba(212, 255, 100, 0)
  );
}

.serv-circle::after {
  position: absolute;

  content: '';
  border-radius: 70px;

  padding: 8px;
  width: 56px;
  height: 56px;

  background-image: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.4),
    rgba(212, 255, 100, 0.2)
  );

  z-index: 1;
}

.serv-svg {
  width: 40px;
  height: 40px;

  z-index: 2;
}

.serv-sub-title {
  font-size: 20px;
  line-height: 1.5;

  text-align: center;

  margin-bottom: 12px;
}

.serv-sub-par {
  font-size: 14px;
  line-height: 1.5;
  color: #b3b3b3;

  text-align: center;
}

.serv-sub-span {
  color: #caff33;
}

/* ================================= about-us ================================ */

.about-title {
  font-size: 20px;
  line-height: 1.5;
  color: #caff33;

  text-align: center;

  margin-bottom: 15px;
}

.about-back {
  width: 300px;
  height: 300px;

  border-radius: 50%;

  background-image: url('../images/about-us/sec-1x.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin: 0 auto 15px;
}

.about-par {
  font-size: 12px;
  line-height: 1.5;

  text-align: center;

  margin-bottom: 15px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 15px;
}

.about-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  margin-bottom: 15px;

  border-radius: 50%;

  background-image: linear-gradient(
    180deg,
    #caff33 0%,
    rgba(202, 255, 51, 0) 100%
  );

  z-index: 0;
}

.about-circle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: '';
  width: 70px;
  height: 70px;

  border-radius: 50%;

  background-image: linear-gradient(
    180deg,
    #caff33 0%,
    rgba(202, 255, 51, 0) 100%
  );

  z-index: 1;
}

.about-svg {
  width: 34px;
  height: 34px;
}

.about-sub-par {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/* ================================= vacancies ================================ */

.vac-title {
  font-size: 28px;
  line-height: 1.5;

  text-align: center;

  margin-bottom: 10px;
}

.vac-span {
  color: #caff33;
}

.vac-par {
  font-size: 14px;
  line-height: 1.5;
  color: #b3b3b3;

  text-align: center;

  margin-bottom: 20px;
}

.vac-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vac-item {
  position: relative;

  border: 1px solid #262626;
  border-radius: 10px;

  padding: 30px;
  margin-bottom: 20px;
  max-width: 366px;
  height: 317px;

  background-color: #1c1c1c;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr;
  row-gap: 20px;
}

.vac-item:last-child {
  margin-bottom: 20px;
}

.vac-svg {
  grid-column: 2/3;
  grid-row: 1/2;

  width: 15px;
  height: 15px;

  justify-self: end;
  align-self: flex-start;
}

.vac-sub-title {
  font-size: 18px;
  line-height: 1.5;
}

.vac-sub-par {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #b3b3b3;

  grid-column: 1/3;
  grid-row: 2/3;
}

.vac-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  border-radius: 12px;

  max-width: 366px;
  min-height: 590px;
  margin: 0 auto;

  background-color: #1c1c1c;
}

.vac-img {
  border-radius: 10px;
}

.vac-form-par {
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
}

.vac-form-label {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.5;
}

.vac-form-input {
  border-radius: 140px;

  padding: 14px 24px;
  width: 300px;
  height: 55px;

  text-align: center;

  text-decoration: none;
}

.vac-form-btn {
  border-radius: 140px;
  padding: 14px 24px;
  width: 181px;
  height: 55px;

  background-color: #caff33;

  font-size: 18px;
  line-height: 1.5;
  color: #1c1c1c;
}

/* ================================= sub-branches ================================ */

.branch-title {
  font-size: 28px;
  line-height: 1.5;

  text-align: center;

  margin-bottom: 10px;
}

.branch-title-span {
  color: #caff33;
}

.branch-par {
  font-size: 14px;
  line-height: 1.5;
  color: #b3b3b3;

  text-align: center;

  margin-bottom: 25px;
}

.branch-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper {
  position: relative;
  height: 300px;
}

.circle-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    180deg,
    rgba(202, 255, 51, 2),
    rgba(212, 255, 100, 1)
  );
  border-radius: 50%;

  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.circle-icon::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(
    180deg,
    rgba(245, 245, 220, 0.6),
    rgba(245, 245, 220, 0.4)
  );

  border-radius: 50%;

  width: 60px;
  height: 60px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.circle-wrap {
  position: relative;
  top: 40px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.circle-border {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(#007bff 0deg 180deg, transparent 180deg 360deg);
  mask: radial-gradient(circle 95px, transparent 90px, white 99%);
}

.circle-icon-svg {
  z-index: 2;
}

.circle-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.branch-sub-title {
  border: 2px solid #dddddd;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 24px;

  font-size: 14px;

  margin-bottom: 10px;
}

.branch-loc {
  text-align: center;
  font-size: 12px;
}

.small-circle {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #f5f5dc;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: ripple1 1s infinite;
}

/* ================================= objects ================================ */

.ob-title {
  font-size: 28px;
  line-height: 1.5;

  text-align: center;

  margin-bottom: 10px;
}

.ob-par {
  font-size: 14px;
  line-height: 1.5;
  color: #b3b3b3;

  text-align: center;

  margin-bottom: 40px;
}

.ob-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border: 1px solid #262626;
  border-radius: 12px;

  padding: 20px;
  margin: 0 auto;
  max-width: 358px;
  height: 290px;

  overflow: hidden;

  margin-bottom: 30px;
}

.ob-item {
  width: 250px;
  height: 250px;
  overflow: hidden;
  flex-shrink: 0;

  border-radius: 12px;

  background-color: #007bff;
}

.ob-img {
  width: 250px;
  height: 250px;

  object-fit: cover;
}

.ob-slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ob-slider-btn {
  border: 1px solid #262626;
  border-radius: 100px;

  padding: 12px;
  width: 52px;
  height: 52px;

  background-color: #1c1c1c;
}

.ob-slider-svg {
  width: 25px;
  height: 25px;
}

/* ================================= footer ================================ */

.footer-cont {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin-bottom: 30px;
}

.footer-logo-svg {
  width: 60px;
  height: 60px;
}

.footer-logo-par {
  font-size: 24px;
  line-height: 1.5;
  color: #fcfcfd;
}

.line {
  display: block;

  border: 1px solid #262626;

  max-width: 358px;
  height: 0px;

  margin: 0px auto 30px;
}

.footer-nav {
  display: none;
}

.footer-main-adress {
  display: block;
  margin-bottom: 30px;
}

.footer-adress-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-adress-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.footer-main-svg {
  width: 25px;
  height: 25px;
}

.footer-adress-link {
  font-size: 14px;
  line-height: 1.5;
  color: #e4e4e7;
}

.footer-sub-branches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-sub-branches-title {
  font-size: 14px;
  line-height: 1.5;
  color: #e4e4e7;

  margin-bottom: 14px;
}

.footer-sub-branches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-sub-branches-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.footer-sub-branches-par {
  font-size: 14px;
  line-height: 1.5;
  color: #caff33;
}

.footer-sub-branches-link {
  font-size: 14px;
  line-height: 1.5;
  color: #e4e4e7;
}

/* ================================= Styles for Tablet devices ================================ */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    padding: 40px 32px;
  }

  /* ================================= header-tab ================================ */

  .header-cont {
    padding: 0 24px;
  }

  .logo-link {
    padding: 17px 0;
  }

  .header-list {
    display: flex;
    gap: 26px;
  }

  .header-link {
    display: block;
    padding: 27px 0;

    font-size: 14px;
    line-height: 1.5;
  }

  .contact-btn {
    display: block;

    border-radius: 82px;
    background-color: #caff33;

    padding: 12px 24px;
    width: 112px;
    height: 45px;

    font-size: 14px;
    line-height: 1.5;
    color: #1c1c1c;
  }

  .mob-menu-btn {
    position: relative;
    display: block;
    padding: 0;
    width: 0;
    height: 0;

    background-color: transparent;

    border-radius: 0%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #caff33;
  }

  .mob-menu-btn::after {
    content: '';
    position: absolute;
    top: -28px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    transform: rotate(45deg);
    z-index: 1;
  }

  .mob-menu-svg {
    display: none;
  }

  .is-open {
    display: flex;

    justify-content: center;

    animation: openMenu 1s forwards ease-in-out;
  }

  .hidden {
    display: none;
  }

  /* ================================= hero-tab ================================ */

  .hero-cont {
    position: relative;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-title {
    font-size: 34px;

    width: 550px;
    text-align: start;

    margin: 0 auto 10px;
  }

  .hero-par {
    font-size: 16px;

    width: 550px;
    text-align: start;

    margin: 0 auto 40px;
  }

  .hero-btn {
    font-size: 14px;
    line-height: 1.5;
    color: #1c1c1c;

    margin: 0 auto;

    background-color: #caff33;
  }

  .hero-picture-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0;
    width: 100%;
    max-width: 900px;

    z-index: -1;
  }

  .hero-w {
    height: 380px;
  }

  .hero-second-picture {
    justify-self: end;
  }

  .hero-m {
    height: 380px;
  }
}

/* ================================= Styles for Desktop devices ================================ */

@media only screen and (min-width: 1280px) {
  body {
    padding-top: 50px;
  }

  .container {
    max-width: 1440px;
    padding: 50px 65px;
  }

  /* ================================= header-desktop ================================ */

  .header-cont {
    padding: 0 34px;
  }

  .logo-link {
    padding: 0;

    font-size: 24px;
  }

  .logo-img {
    width: 60px;
    height: 60px;
  }

  .header-nav {
    display: block;
  }

  .header-link {
    position: relative;
    display: block;
    padding: 37px 0;

    font-size: 18px;
    line-height: 1.5;

    z-index: 1;
  }

  .header-link::before {
    content: '';

    z-index: -1;
  }

  .header-link:hover::before,
  .header-link:focus::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 82px;

    min-width: 110px;
    height: 51px;

    background-color: #262626;
  }

  .contact-btn {
    padding: 14px 30px;
    width: 142px;
    height: 55px;

    font-size: 18px;
  }

  .mob-menu-btn {
    display: none;
  }
}
